@font-face {
    font-family: 'Poppins';
    src: url("/fonts/Poppins/Poppins/Poppins-Medium.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section_1 {
    background: linear-gradient(324deg, rgba(96,139,255,0.4341386212688201) 0%, rgba(255,210,63,0.16523105824360995) 73%);
    width: 100%;
}

.header {
    width: 1170px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #608BFF;
    
}

.nav {
    float: right;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_list {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav_item {
    display: inline-block;
}

.nav_item_link {
    color:black;
    opacity: 60%;
}

.tre {
    opacity: 60%;
}

.nav_item_link:not(.home):hover {
    border-bottom: 5px solid #608BFF;
}

.courses {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.button {
    background: #608BFF;
    padding: 12px 24px;
    border-radius: 28px;
    transform: all 500ms ease;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 1s ease;
}

.button:hover {
    background: #4468cc ;
}

.hero_container {
    width: 1170px;
    margin: auto;
    display: flex;
    padding-top: 77px;
    justify-content: space-between;
}

.get {
    width: 500px;
    padding-top: 100px;
}
  
.title {
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
}

.title--orange {
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
    color: #FF5000;
}

.hero_text {
    color: black;
    opacity: 60%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 24px;
}

.hero_start {
    width: 220px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.subs {
    width: 490px;
    height: 125px;
    display: flex;
    justify-content: space-between;
}

.sub_num {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    color: black;
    opacity: 80%;
    padding-top: 72px;
}

.sub_txt {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: black;
    opacity: 80%;
    padding-top: 16px;
}

.online {
    display: flex;
    padding-top: 88px;
    margin:auto;
}

.section_2 {
    width: 100%;
    padding-top: 200px;
    height: 1000px;
    background: linear-gradient(232deg, rgba(96,139,255,0.4229341394761029) 0%, rgba(255,210,63,0.16523105824360995) 73%), url("/img/books.svg");
    background-position-x: center ;
    background-position-y: center ;
    background-repeat: no-repeat;
    
}

.geometry {
    width: 700px;
    height: 700px; 
    border-radius: 50%;
    border: 24px solid #608BFF;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.geometry_title {
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
}

.geometry_list {
    list-style: none;
    position: absolute;
    width: 1000px;
    height: 1000px;
}

.geometry_item {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: #abe7f4;
    border: 15px solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transition: all 1s;
}

.yellow {
    background-color: #FFF9E8;
}

#geometry_item_1 {
    top: 0;
    left:50%;
    transform: translate(-50%, 0);
}

#geometry_item_2 {
    top: 50%;
    left: 100%;
    transform: translate(-80%, -50%);
}

#geometry_item_3 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#geometry_item_4 {
    top: 50%;
    left: 0;
    transform: translate(-20%, -50%);
}

.geometry_item_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 20px;
}

.geometry_item_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: black;
    opacity: 60%;
    padding-top: 10px;
    padding-left: 44px;
    padding-right: 44px;
    text-align: center;
}

.geometry_item:hover {
    width: 320px;
    height: 320px;
    background-color: #65bbe2;
}

.yellow:hover{
    background-color: #f1e1b4;
}

.section_3 {
    width: 100%;
    background: linear-gradient(324deg, rgba(96,139,255,0.4341386212688201) 0%, rgba(255,210,63,0.16523105824360995) 73%);
    padding-top: 100px;
}

.section_3_info {
    width: 1300px;
    height: 710px;
    display: flex;
    padding: 100px;
}

.section_3_main {
    width: 520px;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 400px;
    padding-top: 250px;
    padding-left: 55px;
}

.section_3_main_title {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
}

.section_3_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    opacity: 60%;
    padding-top: 16px;
}

.section_3_info_list {
    list-style: none;
    padding-top: 50px;
    width: 311px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.section_3_info_item {

    display: flex;
    align-items: center;
    
}

.section_3_list_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 8px;
}

.button_3 {
    width: 170px;
    background: #608BFF;
    padding: 12px 24px;
    border-radius: 28px;
    transform: all 500ms ease;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 1s ease;
    margin-top: 50px;
}

.button_3:hover {
    background: #4468cc ;
}

.section_3_dark {
    background-color: #27424D;
    width: 100%;
    justify-content: center;
    height: 312px;
    align-items: center;
}

.section_3_module {
    width: 1055px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 56px;
}

.section_3_dark_item {
    width: 485px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.image_3 {
    max-width: 100%;
    padding-left: 24px;
}

.section_3_dark_info {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 24px;
}

.section_3_dark_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.section_3_dark_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    opacity: 60%;
    padding-top: 8px;
}

.button_dark {
    width: 230px;
    background: #608BFF;
    padding: 12px 24px;
    border-radius: 28px;
    transform: all 500ms ease;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 1s ease;
    margin-top: 24px;
}

.button_dark:hover {
    background: #4468cc ;
}

.orange {
    width: 230px;
    background: #FF5000;
    padding: 12px 24px;
    border-radius: 28px;
    transform: all 500ms ease;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 1s ease;
    margin-top: 24px;
}

.orange:hover {
    background: #d04302 ;
}

.section_4 {
    background: linear-gradient(0deg, rgba(96,139,255,0.4229341394761029) 18%, rgba(255,210,63,0.16523105824360995) 73%);
    width: 100%;
}

.section_4_info {
    width: 1170px;
    height: 481px;
    display: flex;
    margin: auto;
    padding: 135px 135px 135px;
    justify-content: space-between;
}

.section_4_text {
    width: 519px;
    height: 413px;
}

.section_4_title {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
}

.section_4_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    opacity: 60%;
    padding-top: 16px;
}

.section_5 {
    width: 100%;
}

.section_5_wrapper {
    background-color: #FFF8E1;
    width: 100%;
    height: 600px;
    position: relative;
}
.section_5_comments {
    width: 1170px;
    height: 381px;
    margin: auto;
    padding-bottom: 100px;
}

.section_5_comments_head {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.section_5_comments_head_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.button_5 {
    width: 230px;
    height: 50px;
    background: #608BFF;
    padding: 12px 24px;
    border-radius: 28px;
    transform: all 500ms ease;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 1s ease;
}

.button_5:hover {
    background: #4468cc ;
}

.white {
    background: white;
    color: black ;
    margin-top: 48px;
}

.section_5_comments_list {
    list-style: none;
    height: 285px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
}

.section_5_comments_list_item {
    width: 374px;
    height: 285px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.section_5_comment_wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    width: 270px;
}

.section_5_comments_list_item_head {
    width: 180px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.section_5_name {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.section_5_role {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: black;
    opacity: 60%;
}

.section_5_comment_zitata {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    opacity: 60%;
    padding-left: 30px;  
    padding-top: 40px; 
    padding-right: 30px; 
}
.section_5_blue {
    width: 915px;
    height: 266px;
    background-color: #608BFF;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#blue {
    top: 50%;
    left: 50%;
}

.section_5_footer {
    margin: auto;
    display: flex;
    width: 1200px;
    height: 200px;
    padding-top: 50px;
    
}

.section_5_footer_list {
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.section_5_footer_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_item {
    align-items: center;
    height: 50px;
    justify-content: space-between;
}